<% provide(:title, 'All users') %>
<h1>All users</h1>

<div class="pagination justify-content-center">
  <%# ДОБАВИЛИ @users СЮДА %>
  <%= will_paginate @users %>
</div>

<ul class="users list-group mb-3">
  <% @users.each do |user| %>
    <li class="list-group-item d-flex align-items-center">
      <%= gravatar_for user, size: 50 %>
      <span class="ms-3">
        <%= link_to user.name, user %>
      </span>
    </li>
  <% end %>
</ul>

<div class="pagination justify-content-center">
  <%# И СЮДА %>
  <%= will_paginate @users %>
</div>