<head>
    <title><%= full_title(yield(:title)) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Подключаем Bootstrap через нормальную ссылку (CDN) -->
    <link href="https://jsdelivr.net" rel="stylesheet">

    <!-- Стандартный тег для JS, который точно поймет любая версия Rails -->
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>